<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favico.ico') }}"
      type="image/x-icon"
    />
    <meta property="og:title" content="Ahnaf's Portofolio Website" />
    <meta property="og:description" content="Are you looking for me?" />
    <meta
      property="og:image"
      content="{{ url_for('static', filename='ogimage.jpg') }}"
    />

    <title>Ahnaf's Portofolio Website</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&display=swap"
      rel="stylesheet"
    />

    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <!-- Font Awesome CSS -->
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link
      href="{{ url_for('static', filename='style.css') }}"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body>
    <div id="header">
        <div class="container">
            <nav>
                <a href="/"><img src="/static/images/logoahnaf.png" alt="" class="logo"></a>
                <ul>
                    <li><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
            <div class="header-text">
                <p href="#" id="style-2" data-replace="Hola!"><span>Hello,</span></p>
                <h1>I am <span>Ahnaf</span> Bhamakerti Arief <br>Front-End Developer</h1>
            </div>
            <!-- <div class="image-header">
                <img src="/static/images/selfff.png">
            </div>  -->
        </div>
    </div>
    <!-- About -->
    <div class="section">
        <div id="about">
            <div class="container">
                <div class="row">
                    <div class="about-col-1" style="margin-top: 45px;">
                        <img src="/static/images/4x6.jpg" alt="">
                    </div>
                    <div class="about-col-2">
                        <h1>About Me</h1>
                        <p style="text-align: justify;">I am currently pursuing my undergraduate degree in Computer Science at Universitas Negeri Semarang. Driven by a strong passion for programming, I am eager to secure an internship position to further develop my expertise in the field. My academic journey has provided me with a solid foundation in various programming languages, software development, and web development, and I am enthusiastic about applying and expanding these skills in a practical, real-world setting through an internship</p>
                    <div class="tab-titles">
                        <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                        <p class="tab-links" onclick="opentab('experience')">Experiences</p>
                        <p class="tab-links" onclick="opentab('education')">Education</p>
                    </div>
                    <div class="tab-contents active-tab" id="skills">
                        <ul>
                            <li><span>Web Development</span><br>Front-End Development</li>
                            <li><span>UI/UX</span><br>Designing Web/App Interface and Wireframe</li>
                            <li><span>English</span><br>Fluent</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="experience">
                        <ul>
                            <li><span>The Library - Front-End Developer</span><br>The Library is an online library website that we created using HTML, CSS, Flask, Bootstrap, and others.</li>
                            <li><span>The Sweeter - Individual Project</span><br>The Sweeter is a mini website project for posting tweets, akin to Twitter, implementing concepts learned in the LearningX Course.</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="education">
                        <ul>
                            <li><span>2021 - Now</span><br>Student at Universitas Negeri Semarang <br>majoring in Computer Science<br>GPA 3.58/4.00</li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Projects -->
    <!-- <div id="projects">
        <div class="container">
            <h1 class="sub-title">My Projects</h1>
            <div class="projects-list">
                <div>
                    <h2>The Library</h2>
                    <p>The Library is an online website, utilizing HTML, CSS, Flask, Bootstrap, and more, for a comprehensive and engaging literary exploration experience.</p>
                    <a href="https://the-libraryk1.glitch.me/">Click here to see the website!</a>
                </div>
                <div>
                    <h2>Sweeter</h2>
                    <p>The Sweeter is a mini website project for posting tweets, akin to Twitter, implementing concepts learned in
                        the LearningX Course.</p>
                    <a href="https://ahnafs-sweeter.glitch.me/">Click here to see the website!</a>
                </div>
                <div>
                    <h2>Daily Card</h2>
                    <p>The Library is an online library website that we created using HTML, CSS, Flask, Bootstrap, and others.</p>
                    <a href="https://personaldiary-ahnaf.glitch.me/">Click here to see the website!</a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Contact -->
    <div class="section">
        <div id="contact">
            <div class="container">
                <div class="row">
                    <div class="contact-left">
                        <h1 class="sub-title">Contact Me</h1>
                        <p><i class="fa fa-solid fa-envelope"></i>ahnafbnf@gmail.com</p>
                        <p><i class="fa fa-solid fa-phone"></i>+62 812 9249 5783</p>
                        <div class="social-icons">
                            <a href="https://github.com/ahnafb" target="_blank"><i class="fa fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/ahnafb" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/ahnsff" target="_blank"><i class="fa fa-brands fa-instagram"></i></a>
                        </div>
                        <a href="/static/images/Ahnaf CV.pdf" download class="btn btn2">Download CV</a>
                    </div>
                    <div class="contact-right">
                        <form name="submit-to-google-sheet" id="contactForm">
                            <input type="text" name="Name" id="nameInput" placeholder="Name" required>
                            <input type="email" name="Email" id="emailInput" placeholder="Email" required>
                            <textarea name="Message" id="messageInput" rows="5" placeholder="Your Message"></textarea>
                            <span id="msg" class="pesan-sukses"></span>
                            <button type="submit" class="btn btn2" id="submitBtn">
                                <span class="loader" id="loader"></span>
                                Submit
                            </button>                            
                        </form>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="kaki">
        <p>Property of Ahnaf</p>
    </div>

    <script>
        var tablinks = document.getElementsByClassName("tab-links");
        var tabcontents = document.getElementsByClassName("tab-contents");

        function opentab(tabname) {
            for (tablink of tablinks) {
                tablink.classList.remove("active-link");
            }
            for (tabcontent of tabcontents) {
                tabcontent.classList.remove("active-tab");
            }
            event.currentTarget.classList.add("active-link");
            document.getElementById(tabname).classList.add("active-tab")
        }
    </script>
    <!-- Function from form to spreadsheet -->
    <script>
        const scriptURL = 'https://script.google.com/macros/s/AKfycbxT2WNfmvwACN0x9jL-uHqq5UmndS9loExI009auLmpv57olcQdNH-EX1RjNGGMONzi/exec'
        const form = document.forms['submit-to-google-sheet']
        const msg = document.getElementById("msg")
      
        form.addEventListener('submit', e => {
          e.preventDefault()
          fetch(scriptURL, { method: 'POST', body: new FormData(form)})
            .then(response => {
                msg.innerHTML = "Form submitted successfully!"
                setTimeout(function(){
                    msg.innerHTML = ""
                },2000)
                form.reset()
            })
            .catch(error => console.error('Error!', error.message))
        })
      </script>
      <!-- Function Loader Form dll -->
      <script>
        document.getElementById('contactForm').addEventListener('submit', function(event) {
            event.preventDefault(); 

            var nameInput = document.getElementById('nameInput');
            var emailInput = document.getElementById('emailInput');
            var messageInput = document.getElementById('messageInput');

            if (nameInput.value.trim() !== '' && emailInput.value.trim() !== '' && messageInput.value.trim() !== '') {
                document.getElementById('submitBtn').classList.add('loading');

                setTimeout(function() {
                    document.getElementById('submitBtn').classList.remove('loading');
                    document.getElementById('msg').innerText = 'Form submitted successfully!';
                }, 3000); 
            } else {
                document.getElementById('msg').innerText = 'Please fill in all fields!';
            }
        });
      </script>
      <!-- Function Open Efek Animation -->
      <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.body.classList.add('loaded');
        });
      </script>
  </body>
</html>
